*
!.gitignore
!Makefile
!LICENSE
!README.md
!tex
!tex/*
!resource
!resource/*
!resource/manual
!resource/manual/*
!resource/manual/input
!resource/manual/input/*
!resource/manual/sty
!resource/manual/sty/*
!atom-docplots
!atom-docplots/*
*~